*{
margin: 0;
padding: 0;
}

.cabecalho{
    background-color:darkgreen;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding:24px 0;
}

.imagem-cabecalho{
    width: 15%;
}

.cabecalho-item{
display: inline-block;
margin: 0 16px;
font-size: 24px;
}

.imagem uma bandeira {
   width: 25%;
   height: 40%;
}

.escola{
    background-image: linear-gradient(#044107, #8ce598);
}