header{
    background-color:darkgreen;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding:24px 0;
}

.imagem-cabecalho{
    width: 25%;
}

.cabecalho-item{
display: inline-block;

}